pandas==1.5.2
numpy==1.23.4
mlflow==2.0.1
datasets==2.6.1
transformers==4.25.1
tokenizers==0.12.1
scikit-learn==1.2.0
sagemaker==2.124.0
spacymoji==3.0.1
spacy[cuda-autodetect]==3.4.1
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.4.0/pt_core_news_lg-3.4.0.tar.gz